In [1]:
# Dependencies
import requests
import os
import numpy as np
import pandas as pd
from pprint import pprint
import urllib.request  
from datetime import datetime

In [9]:
stations = ['AZPS']
responses = []
grid_df = pd.DataFrame()
for station in stations:
    url = "http://api.eia.gov/series/?api_key=b2416f9351f1bc487d7de96e1a731aab&series_id=EBA."+station+"-ALL.D.H"
    api_call = requests.get(url)
    responses.append(api_call.json())

In [10]:
name_list = []
date_list = []
mg_list = []
    
for response in responses:
    name = response['series'][0]['series_id'] #name is format blah.name-blah.blah.blah
    names = name.split('-')  #names is ['blah.name','blah.blah.blah']
    name = names[0].split('.')[1] 
    demand_list = response['series'][0]['data']
    for demand in demand_list:
        if demand[0] != '' and demand[1] != '':
            name_list.append(name)
            date_list.append(demand[0])
            mg_list.append(demand[1])

grid_df = pd.DataFrame({
    'name': name_list,
    'date': date_list,
    'gw': mg_list
})

grid_df.head()

           date      gw  name
0  20181016T21Z  2511.0  AZPS
1  20181016T20Z  2506.0  AZPS
2  20181016T19Z  2546.0  AZPS
3  20181016T18Z  2578.0  AZPS
4  20181016T17Z  2651.0  AZPS

In [11]:
grid_df['date'] = pd.to_datetime(grid_df['date'])

In [12]:
grid_df.head()

                 date      gw  name
0 2018-10-16 21:00:00  2511.0  AZPS
1 2018-10-16 20:00:00  2506.0  AZPS
2 2018-10-16 19:00:00  2546.0  AZPS
3 2018-10-16 18:00:00  2578.0  AZPS
4 2018-10-16 17:00:00  2651.0  AZPS

In [10]:
weather_file = os.path.join('../Data','closestStations.csv')
weather_df = pd.read_csv(weather_file, encoding="ISO-8859-1")
weather_df.head()

   ABBR           ID1           ID2           ID3           ID4           ID5
0  AZPS  723740-23194  722747-93084  722740-23160  723788-53135  723860-23169
1  AECI  724400-13995   724457-3938  723495-13987   724450-3945   724460-3947
2   AVA  727850-24157  727730-24153  727790-24146    726876-387  727720-24144
3  BANC    720614-205  724880-23185  724940-23234  723890-93193  726904-24231
4  BPAT    726876-387  727850-24157  727730-24153  726980-24229  725780-24156

In [11]:
st_data_fetch = []
for index, row in weather_df.iterrows():
    if not(row['ID1'] in st_data_fetch):
        st_data_fetch.append(row['ID1'])
    if not(row['ID2'] in st_data_fetch):
        st_data_fetch.append(row['ID2'])
    if not(row['ID3'] in st_data_fetch):
        st_data_fetch.append(row['ID3'])
    if not(row['ID1'] in st_data_fetch):
        st_data_fetch.append(row['ID4'])
    if not(row['ID1'] in st_data_fetch):
        st_data_fetch.append(row['ID5'])
    
print(st_data_fetch)

SyntaxError: invalid syntax (<ipython-input-11-37b2b90a1674>, line 3)

In [ ]:
elem in LIST