In [8]:
# Dependencies
import requests
import pandas as pd
from pprint import pprint

from datetime import datetime

In [9]:
stations = ['AZPS']
responses = []
grid_df = pd.DataFrame()
for station in stations:
    url = "http://api.eia.gov/series/?api_key=b2416f9351f1bc487d7de96e1a731aab&series_id=EBA."+station+"-ALL.D.H"
    api_call = requests.get(url)
    responses.append(api_call.json())

In [10]:
name_list = []
date_list = []
mg_list = []
    
for response in responses:
    name = response['series'][0]['series_id'] #name is format blah.name-blah.blah.blah
    names = name.split('-')  #names is ['blah.name','blah.blah.blah']
    name = names[0].split('.')[1] 
    demand_list = response['series'][0]['data']
    for demand in demand_list:
        if demand[0] != '' and demand[1] != '':
            name_list.append(name)
            date_list.append(demand[0])
            mg_list.append(demand[1])

grid_df = pd.DataFrame({
    'name': name_list,
    'date': date_list,
    'gw': mg_list
})

grid_df.head()

           date      gw  name
0  20181016T21Z  2511.0  AZPS
1  20181016T20Z  2506.0  AZPS
2  20181016T19Z  2546.0  AZPS
3  20181016T18Z  2578.0  AZPS
4  20181016T17Z  2651.0  AZPS

In [11]:
grid_df['date'] = pd.to_datetime(grid_df['date'])

In [12]:
grid_df.head()

                 date      gw  name
0 2018-10-16 21:00:00  2511.0  AZPS
1 2018-10-16 20:00:00  2506.0  AZPS
2 2018-10-16 19:00:00  2546.0  AZPS
3 2018-10-16 18:00:00  2578.0  AZPS
4 2018-10-16 17:00:00  2651.0  AZPS